.subscribe-form {
  margin-top: 20px;
  display: flex;
}
.subscribe-form__email {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  outline: rgba(255, 255, 255, 0.3);
  background-color: $next-bg;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &::placeholder {
    color: $trans-gray;
  }
  &:focus {
    color: $trans-gray;
    border: 1px solid $brand-color;
  }
}
.button-box {
  display: flex;
  &__icon {
    margin-left: 10px;
    fill: $white-color;
  }
}

.button-box__button {
  @extend %flex-center;
  @extend %Big-button;

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color $main-time $cubic;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
