$main-text-color: #212121;
$brand-color: #2196f3;
$second-text-color: #757575;
$white-color: #ffffff;
$black-color: #000000;
$icon-color: #afb1b8;
$bgcolor: #ececec;
$addbgcolor: #e5e5e5;
$next-bg: #2f303a;
$trans-gray: rgba(255, 255, 255, 0.6);

$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$main-time: 250ms;
