.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px 40px;
  min-width: 528px;
  min-height: 521px;
  transition: transform 1000ms $cubic;
  background-color: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  &__box {
    margin-bottom: 10px;
  }
  &__header {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 12px;
  }
}
.icon-close {
  fill: $black-color;
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  border: none;
  border-radius: 50%;
  background-color: $white-color;

  fill: $black-color;

  transform: scale(1);
  transition: transform $main-time $cubic, fill $main-time $cubic;

  &:hover {
    transform: scale(1.25);
    fill: $brand-color;
  }
}
